## Data Analysis of covid data.

## Retreiving the data

### Importing all relavant libraries

In [ ]:
# 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from chart_studio import plotly
import plotly.express as px
#from plotly.offline import init_notebook_mode, iplot
%matplotlib inline

## Access the data

In [ ]:
covid_data = pd.read_csv('United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')

In [ ]:
covid_data.head()

In [ ]:
covid_data["submission_date"]= pd.to_datetime(covid_data["submission_date"], format="%m/%d/%Y") #
covid_data.sort_values(by=['submission_date'], inplace=False)

In [5]:
# check for duplicates
covid_data.duplicated().sum()

0

In [6]:
# data types in covid dataset
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43980 entries, 0 to 43979
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  43980 non-null  datetime64[ns]
 1   state            43980 non-null  object
 2   tot_cases        43980 non-null  int64
 3   conf_cases       23772 non-null  float64
 4   prob_cases       23700 non-null  float64
 5   new_case         43980 non-null  int64
 6   pnew_case        40108 non-null  float64
 7   tot_death        43980 non-null  int64
 8   conf_death       23500 non-null  float64
 9   prob_death       23500 non-null  float64
 10  new_death        43980 non-null  int64
 11  pnew_death       40005 non-null  float64
 12  created_at       43980 non-null  object
 13  consent_cases    36645 non-null  object
 14  consent_deaths   37383 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(4), object(4)
memory usage: 5.0+ MB

In [7]:
covid_data.nunique()

submission_date      733
state                 60
tot_cases          33404
conf_cases         20182
prob_cases         14157
new_case            6999
pnew_case           2703
tot_death          14950
conf_death         11314
prob_death          3336
new_death            489
pnew_death           293
created_at          1678
consent_cases          2
consent_deaths         2
dtype: int64

In [8]:
# check for null values
covid_data.isnull().sum()

submission_date        0
state                  0
tot_cases              0
conf_cases         20208
prob_cases         20280
new_case               0
pnew_case           3872
tot_death              0
conf_death         20480
prob_death         20480
new_death              0
pnew_death          3975
created_at             0
consent_cases       7335
consent_deaths      6597
dtype: int64

In [ ]:
clean_data=covid_data.drop('conf_cases', 'prob_cases','conf_death','prob_death')

In [ ]:
clean_data.isnull().sum()

In [11]:
clean_data.describe()

,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death
count,1.954400e+04,1.954400e+04,19544.000000,19544.000000,19544.000000,19544.000000,19544.000000,19544.000000,19544.000000,19544.000000
mean,4.514011e+05,3.984165e+05,52984.695252,1881.909537,278.234804,8234.174222,7403.698322,830.475901,22.808432,2.495242
std,6.233063e+05,5.799747e+05,80704.623364,4372.388595,768.688938,10727.358708,10033.653133,1232.655658,50.925376,28.300449
min,0.000000e+00,0.000000e+00,0.000000,-4803.000000,-6259.000000,0.000000,0.000000,0.000000,-352.000000,-2594.000000
25%,3.835375e+04,3.539175e+04,14.000000,130.000000,0.000000,729.000000,704.750000,0.000000,0.000000,0.000000
50%,2.057045e+05,1.859320e+05,9879.000000,634.000000,39.000000,3718.000000,3387.500000,210.000000,7.000000,0.000000
75%,6.813345e+05,5.951112e+05,80151.500000,1905.000000,242.250000,11695.000000,10044.250000,1256.000000,24.000000,2.000000
max,4.885289e+06,4.640489e+06,550048.000000,125572.000000,16929.000000,71408.000000,71408.000000,5423.000000,1178.000000,1021.000000

In [12]:
# top 10 entries based on total cases.
#covid_data.sort_values(['tot_cases'], ascending=False).head(10)
clean_data.nlargest(n=10, columns=['conf_cases'], keep='all')

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
30418,2021-10-28,CA,4885289,4640489.0,244800.0,8770,3821.0,71408,71408.0,0.0,113,0.0,10/30/2021 12:00:00 AM,Agree,Agree
12325,2021-10-27,CA,4855054,4635540.0,219514.0,4378,0.0,71295,71295.0,0.0,113,0.0,10/29/2021 12:00:00 AM,Agree,Agree
26503,2021-10-26,CA,4850676,4631162.0,219514.0,24563,0.0,71182,71182.0,0.0,298,0.0,10/28/2021 12:00:00 AM,Agree,Agree
11200,2021-10-25,CA,4826113,4606599.0,219514.0,0,0.0,70884,70884.0,0.0,0,0.0,10/27/2021 12:00:00 AM,Agree,Agree
12386,2021-10-23,CA,4826113,4606599.0,219514.0,0,0.0,70884,70884.0,0.0,0,0.0,10/25/2021 12:00:00 AM,Agree,Agree
25856,2021-10-24,CA,4826113,4606599.0,219514.0,0,0.0,70884,70884.0,0.0,0,0.0,10/26/2021 12:00:00 AM,Agree,Agree
26319,2021-10-22,CA,4826113,4606599.0,219514.0,6093,0.0,70884,70884.0,0.0,143,0.0,10/24/2021 12:00:00 AM,Agree,Agree
15616,2021-10-21,CA,4820020,4600506.0,219514.0,8407,3283.0,70741,70741.0,0.0,148,0.0,10/23/2021 12:00:00 AM,Agree,Agree
14467,2021-10-20,CA,4811613,4595382.0,216231.0,3070,0.0,70593,70593.0,0.0,156,0.0,10/22/2021 12:00:00 AM,Agree,Agree
11223,2021-10-19,CA,4808543,4592312.0,216231.0,4081,0.0,70437,70437.0,0.0,21,0.0,10/21/2021 12:00:00 AM,Agree,Agree

In [13]:
clean_data['state'].nunique()

31

In [14]:
all_states=covid_data['state']

In [15]:
missing_states = np.setdiff1d(all_states,clean_data['state'])
missing_states

array(['AK', 'AR', 'AS', 'DC', 'FL', 'GU', 'HI', 'IA', 'IN', 'KS', 'LA',
       'MD', 'MN', 'MO', 'ND', 'NH', 'NM', 'NV', 'NY', 'PA', 'PW', 'RI',
       'SC', 'SD', 'TX', 'VI', 'VT', 'WA', 'WV'], dtype=object)

In [ ]:
fig = px.choropleth(covid_data.rename(columns={'conf_cases':'Covid Deaths'}), 
                    locations='state',
                    locationmode = 'USA-states',
                    color='Covid Deaths', 
                    scope='usa'
                    
                   )
fig.update_layout(geo=dict(
                  showframe = False,
                  showcoastlines = False)
                )
fig.show(renderer='png', height=700, width=1400)

In [ ]:
def ecdf(data):
    '''Compute ECDF for a one-dimensional array of measurements.'''
    #Number of data points: n
    n = len(data)
    
    #x-data for the ECDF: x
    x = np.sort(data)
    
    #y-data for the ECDF: y
    y = np.arange(1,n+1)/n
    
    return x,y

In [ ]:
#plotting the ecdf based on the confirmed cases.
x, y = ecdf(covid_data['conf_cases'])
fig, ax = plt.subplots()
plt.plot(x,y, marker = '.',linestyle = 'none',markersize=2)
plt.xlabel('Confirmed Cases')
plt.ylabel('ECDF')
plt.figure(figsize=(10, 10))
plt.setp(ax.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.show()

##  Checking correlations in the data.

In [ ]:
corr = covid_data.corr()
plt.figure(figsize=(20, 10))
sns.heatmap(corr, annot=True)
plt.plot()